@keyframes translate {
  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(1000px);
  }

  100% {
    transform: translateX(0);
  }
}

.active1 {
  animation: translate .6s ease;
}
